@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
a:hover{
  color: #F15A2D;
}
/* Social Media Share */
.social-text{
  padding: 11px 0 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 17px;
  color: var(--cl-main);
  display: inline-block;
  vertical-align: top;
}

.social-box{
  display: inline-block;
  vertical-align: bottom;
}

.social{
  display: inline-block;
  padding: 0 2px;
  vertical-align: top;
}
 .social img{
  width: 30px;
  height: 30px;
}

/* Navbar Global */
header{
  transition: 0.6s;
  padding-bottom: 10px;
  padding-top: 10px;
  
}
header.sticky{
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: white;
  box-shadow: none;
}
.Profile a{
    text-decoration: none;
    color: black;
}
.swap{
  display: flex;
}
.navbar-brand img{
    height: 27.78px;
    width: 85.22px;
}
.nav-link{
    color: #2D3F50;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}
.Profile h4{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 27px;
}
.Profile img{
    height: 33px;
}
.box1{
    max-width: 400px;
    width: 100%;
  
  }
  .box1 .search-box{
    position: relative;
    height: 30px;
    max-width: 30px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  #check:checked ~ .search-box{
    max-width: 350px;
  }
  .search-box input{
   position: absolute;
   height: 100%;
   width: 100%;
   border-radius: 25px;
   background: #fff;
   outline: none;
   border: none;
   padding-left: 20px;
   font-size: 18px;
  }
  .search-box .icon{
    position: absolute;
    right: -2px;
    top: 0;
    width: 30px;
    background: white;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: #F15A2D;
    font-size: 15px;
    border-radius: 25px;
  }
  #check:checked ~ .search-box .icon{
    background: #F15A2D;
    color: #FFF;
    width: 60px;
    border-radius: 25px;
  }
  #check{
    display: none;
  }
    /* Features */
.features{
    padding-top: 60px;
  }
.features .title{
    display: flex;
}
.features .title img{
    width: 32px;
    height: 32px;
}
.features .title p{
    font-size: 22px;
    line-height: 27.5px;
    font-weight: 500;
    font-style: normal;
}

/* slider */
.boxs{
  width: 498px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
  transition: transform .2s;
}
.boxs:hover{
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03);
}
.model{
  height: 300px;
  max-height: 100%;
  max-width: 498px;
  object-fit: cover;
}
.boxs img{
  position: absolute;
  width: 498px;
  border-radius: 21px;
}

  .overlay {
    position: absolute;
    width: 500px;
    border-radius: 20px;
    height: 300px;
    
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70.13%, #00000062));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00000062 70.13%);
  }
  a.blank{
    z-index: 1;
    position: absolute;
    display: block;
    width: 498px;
    height: 300px;
  }
  
  .slide-title{
    width: 394px;
    height: 56px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    font-style: normal;
    overflow: hidden;
  }
  .slide-details{
    padding-top: 196px;
    padding-left: 20px;
  }
  .upload{
    display: flex;
    width: 300px;
    height: 20px;
  }
  .upload-details{
    padding: 0px;
    margin-right: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .upload-details .icon {
    color: #F15A2D;
  }
  .upload-details .text{
    color: white;
  }

  /* Lounge */
  .content {
    padding-top: 60px;
  }
  
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 24px;
  }
  
  .title h1 {
    font-size: 22px;
    margin: 0px 12px;
    font-weight: 500;
  }
  
  .title-2 h1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
  }
  
  .card {
    background-color: #FEF8EC;
    border-radius: 12px;
    margin-bottom: 16px;
    transition: transform .2s;
  }

  .card:hover{
    -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(1.0); 
  }
  
  .card-image {
    max-width: 324px;
    max-height: 161px;
  }
  
  .card-image img {
    margin-right: 0px;
    border-radius: 12px;
    width: 302px;
    height: 154px;
  }
  
  .card-content {
    padding: 16px 24px 16px 16px;
  }
  
  a.tags {
    text-decoration: none;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    background-color: #FDEDDD;
    color: black;
  }
  
  .blog-title {
    margin-top: 5px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    overflow: hidden;
	max-height:66px;
  }
  
  .synopsis {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 20px;
    max-width: 900px;
    max-height: 40px;
    overflow: hidden;
    font-style: normal;
  }
  
  .link {
    text-decoration: none;
    color: #2D3F50;
  }
  
  .blog-details, .icon-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  
  .icon-text .icon {
    color: #F15A2D;
    margin-right: 4px;
  }
  
  .icon-text .text {
    color: #7B8794;
    font-size: 14px;
  }
  .icon-text .text-2{
    font-size: 14px;
    color: #7B8794;
	margin-top:-4px;
	width: 75px;
    height: 16px;
	overflow:hidden;
  }
  
  .icon-text a {
    text-decoration: none;
  }
  
  .blog-action {
    margin-left: auto;
  }
  
  .blog-action button {
    background: transparent;
    border: none;
    margin-right: 10px;
    color: #2D3F50;
  }
  
  .blog-action button:hover {
    color: orange;
  }
  
  .blog-action button:focus {
    color: orange;
  }
  
  .categories .category {
    padding: 8px 8px;
    margin: 10px 10px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    background-color: #FDEDDD;
    color: black;
  }
  
  .categories a {
    padding: 100px;
  }
  .icon-text {
    margin-right: auto;
    margin-left: 2px;
  }
  form .btn{
    border-radius: 50%;
    color: #F15A2D;
  }
  .form-control{
    border-radius: 15px;
    border:1px solid #F15A2D ;
  }

.container-fluid{
  width: 90%;
}
.About {
  padding-top: 110px;
  padding-bottom: 50px;
}
.about-image img{
  max-width: 445px;
}

.About .text {
  padding-top: 30px;
  padding-left: 50px;
}

.About h2 {
  font-size: 62px;
  font-weight: 600;
  
  font-style: normal;
  color: #F15A2D;
  padding-bottom: 15px;
}

.About p {
  font-size: 24px;
  line-height: 40.8px;
  font-weight: 500;
  font-style: normal;
  max-width: 569px;
  max-height: 146px;
}
.team-title{
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center  ;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
  color: #F15A2D;
}
.containers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.cards{
  height: 450px;
  max-width: 290px;
  margin: 22px;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, .1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  transition: transform .2s;
}
.cards:hover{
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03);
}
.cards-img{
  padding-top: 20px;
}
.cards-img img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 10px solid #F15A2D;

}
.cards-info h3{
  color: #F15A2D;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 700;
}
.cards-info span{
  font-size: 15px;
  color: #2D3F50;
}
.cards-info p{
  font-size: 13px;
  padding: 10px 20px;
  color: #2D3F50;
}
.cards-info .icons a{
  font-size: 20px;
  text-decoration: none;
  color: #e74c3c;
  margin-top: 20px;
  padding: 0 5px;
  transition: 0.3s;
}
.cards-info .icons a:hover{
  transform: translate(0, -8px);
}
.button {
  margin-top: 48px;
  margin-left: 0px;

  background-color: #F15A2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  border-radius: 20px;
  height: 73px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 26px 47px rgba(252, 112, 52, 0.4);

}



.button .btnName {
  font-size: 24px;
  color: white;
  font-weight: 500;
  padding: 0 16px;
  margin-top: 17px;
  display: block;

  font-size: 24px;
}
.shop{
  margin-top: 180px;
  padding-bottom: 100px;
}

.shop .text h2{
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
}
.shop .text p{
  font-style: normal;
font-weight: 500;
font-size: 24px;
}
.shop-image img{
 width: 430px;
}
footer{
  margin-top: 50px;
  background:#FEF8EC;
  padding-top: 60px;
  padding-bottom: 50px;
}
.foot-item{
  display: flex;
}
.foot-item p{
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  opacity: 50%;
  color: #1E2833;
  margin: auto;
}
.foot-item img{
  margin: auto;
}
.row-login {
  min-height: 70vh;
}
.section-store-auth h2 {
  font-weight: normal;
	font-weight: 600;
  margin-top: 0;
  font-size: 28px;
  color: #0c0d36;
}
.page-content {
  margin-top: 80px;
	margin-bottom:80px;
}
.page-content .section-store-auth .btn{
	font-style: normal;
font-weight: 500;
font-size: 18px;
	background-color:#F15A2D;
	border-radius:10px;
	margin-top:10px;
	color:white;
}
#btn-2{
	background-color:transparent;
	color:black;
	font-weight: 600;
	
}
#btn-2:hover{
	color:#F15A2D;
}
#btn-3{
	background-color:transparent;
	color:black;
	font-weight: 600;
	margin-top:0px;
}
#btn-3:hover{
	color:#F15A2D;
}
hr{
	margin:5px 0;
	width:75%;
}

.page-content .section-store-auth .form-group .form-control{
	border-radius:10px;
	}
    
 /* Featured Title responsive */
 @media (min-width:991px){
   .offset-lg-1{
     margin-left: 3.13333333%;
   }
   .features .title{
     margin-left: 50px;
   }
   .col-lg-11{
     width:auto
     ;
   }
   .About .text{
    padding-left: 72px;
    margin-top: 50px;
   }

 }

 /* Container Content responsive */
 @media (min-width:768px){
  .container{
    max-width: 1248px;
  }
 }
 @media (min-width:1250px){
   .container{
     max-width: 1488px;
   }
   .containers .container{
     max-width: 1388px;
     padding-left: 27px;
   }
 }
 @media (min-width:1530px){
   .container{
     max-width: 90%;
   }
   .features .title {
    margin-left: 111px;
  }
  .offset-lg-1 {
    margin-left: 7.13333333%;
}
 }




 /* Navbar Desktop */
 @media (min-width:986px){
   .container{
     padding-left: 52px;
   }
   .containers .container{
     padding-left: 0px;
   }
    .Profile{
        display: flex;
        margin-right: 35px;
        padding-left: 10px;
    }
    .Profile h4{
        margin-right: 20px;
        margin-top: 4px;
    }
	.Profile i{
		font-size: 22px;
    	margin-top: 7px;
		color:#F15A2D;
	 }
    header{
        box-shadow: 0px 1.71429px 8.57143px rgba(255, 122, 47, 0.09), 0px 8.57143px 34.2857px rgba(252, 117, 20, 0.19);
    }
    .nav-item{
        margin-right: 0px;
        margin-left: 30px;
    }
    .d-flex{
      margin: auto;
    }
    .box1 .search-box{
        margin: auto;
    }
    .nav-link:hover {
        color: #F15A2D;
      }
      
      .nav-link.active {
        color: #F15A2D;
      }
      
      .nav-link::after {
        content: "";
        display: block;
        border-bottom: 2px solid #F15A2D;
        width: 0;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #F15A2D;
      }
      
      .nav-link:hover::after {
        color: #F15A2D;
        width: 50%;
      }
      .features .title{
        display: flex;
    }
    .features .title p{

      margin-left: 12px;
    }
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
              width: 100%;
    }
    
   
    
  }

  /* Medium Screen */
  @media (max-width:989px){
    .Profile{
        padding: 5px;
    }
    .box .search-box{
        margin: 0px;
    }
    .navbar-toggler-icon {
        background-image: url(/img/Starter/hamburger.png);
    }
    .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,.1);
    }
    .features .title{
      margin-left: 15px;
    }
    .features p{
      margin-left: 10px;
    }
    .features .title p{
      font-size: 18px;
    }
    .features .title img{
      width: 28px;
      height: 28px;
    }
    .container{
      max-width: 978px;
    }
    .containers .container{
      max-width: 700px;
    }
    .card{
      margin-left:22px;
      margin-bottom: 20px;
    }
    .card-image {
      max-width: 436px;
      max-height: 171px;
    }
	.card-content {
    padding: 16px 24px 16px 3px;
  }
	.card-image img {
    margin-top: 10px;
    margin-right: 0px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
    .About{
      text-align: center;
    }
    .About p{
      max-width: 838px;
    }
    .about-image img{
      margin-left: 40px;
    }
    .About .text{
      text-align: center;
    }
    .shop .text{
      text-align: center;
    }
    .shop .button{
      margin: auto;
    }
    .shop-image{
     text-align: center;
    }
    .shop-image img{
      padding-top: 50px;
     }
    
  }

/* Responsive */
@media (max-width:985px){
  .swap{
    flex-direction: column-reverse;
  }
  .Profile{
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    margin-left: 0px;
}
	.Profile a{
		margin-right:5px;
	}
.Profile Img{
   height: 29px;
}
.Profile h4{
  font-size: 14px;
}
  .card-image{
    margin-left: 0px;
  }
  .card{
    margin-bottom: 20px;
    max-width: 30%;
  }
  .blog-details{
    max-width: 378px;
  }
  .blog-action{
    margin-top: 4px;
    font-size: 10px;
  }
  .icon-text{
    margin-left: 5px;
  }
  .icon-text .text {
    color: #7B8794;
    font-size: 8.5px;
  }
  .icon-text .icon {
    font-size: 12px;
    margin-top: 4px;
  }
  .icon-text .text-2{
    font-size: 9px;
    color: #7B8794;
	width:70px;
	height:16px;
    margin-top: 7px;
  }
   .w-50 {
    width: 40%!important;
}
	.w-75 {
    width: 60%!important;
}
	.page-content .section-store-auth .form-group{
	text-align: -webkit-center;
	 padding-top:20px;	
}
	.page-content .section-store-auth .col-lg-5{
		text-align:center;
}
	hr{
	margin:5px auto;
}
	
	
}

/* Container Responsive + Slider Responsive*/
@media (max-width:770px){
  .container{
    max-width: 975px;
  }
  .containers .container{
    max-width: 700px;
  }
  .card{
    max-width: 46%;
  }
  .card-image img{
	margin-top:10px;
	width:100%;
	height:100%;
	}
  .boxs img{
    width: 400px;
    height: 250px;
  }
  .boxs{
    width: 408px;
    height: 250px;
    margin-right: 20px;
}
.overlay{
  width: 400px;
  height: 250px;
}
a.blank{
  width: 400px;
  height: 200px;
}
.slide-details{
  padding-top: 150px;
}
.slide-title{
  width: 320px;
  font-size: 18px;
}
.blog-action{
  margin-top: 4px;
  font-size: 12px;
}
.icon-text{
  margin-left: 5px;
}
.icon-text .text {
  color: #7B8794;
  font-size: 12px;
}
.icon-text .icon {
  font-size: 12px;
  margin-top: 3.5px;
}
.icon-text .text-2{
  font-size: 12px;
  color: #7B8794;
  margin-top: 4px;
}
.About p{
  max-width: 638px;
}
.about-image img{
  max-width: 345px;
}
}


@media (max-width:630px){
  .containers .container{
    max-width: 350px;
  }
}

@media (max-width:581px){
	.icon-text .text-2{
    font-size: 9px;
    margin-top: 7px;
  }
	.icon-text .text {
    color: #7B8794;
    font-size: 8.5px;
  }
	.card {
    max-width: 90%;
}
	card-image {
    max-height: 193px;
}
	 .w-50 {
    width: 50%!important;
}
	.w-75 {
    width: 75%!important;
}
  
}
/* Small Screen Card Responsive */
@media (max-width:501px){
  .card{
	margin: auto;
    max-width: 94%;
	margin-bottom: 20px;
  }
  .card-image {
      max-width: 436px;
      max-height: 301px;
    }
	.icon-text .text-2{
    font-size: 12px;
    margin-top: 0px;
  }
	.icon-text .text {
    color: #7B8794;
    font-size: 12px;
  }
.foot-item p{
	font-size:12px;
	}

}

/* Small Screen */
@media (max-width:425px){
    .Profile{
        padding: 0px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:flex-end;
        margin-left: 0px;
    }
    .Profile Img{
       height: 29px;
    }
    .Profile h4{
      font-size: 14px;
    }
    .box1 .search-box{
        margin: auto;
    }
    .features .title{
      margin-left: 5px;
	  padding-bottom: 0px;
    }
    .features p{
      margin-left: 8px;
    }
    .features .title p{
      font-size: 22px;
    }
    .features .title img{
      width: 28px;
      height: 28px;
    }
    .slider{
      margin-left: 0px;
  }
  .shop{
    margin-top: 100px;
  }
  .foot-item p{
    font-size: 11px;
  }
  .foot-item img{
    width: 80px;
    margin: auto;
  }
}



/* Very Small Slider Responsive */
@media (max-width:420px){
  .card{
    max-width: 92%;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .icon-text{
    margin-right: 31px;
  }
  .boxs img{
    width: 350px;
    height: 250px;
  }
  .boxs{
    max-width: 398px;
    height: 250px;
    margin-right: 20px;
}
.card-image img {
  padding: 0px;
  margin-right: 0px;
  width: 100%;
  height: 100%;
}
.overlay{
  width: 350px;
  height: 250px;
}
a.blank{
  width: 350px;
  height: 200px;
}
.slide-details{
  padding-top: 150px;
}
.slide-title{
  width: 320px;
  font-size: 18px;
}
.swap{
  flex-direction: column-reverse;
}
.About .text{
  padding: 0;
}
.About h2{
  font-size: 62px;
}
.about-image img{
  max-width: 285px;
 margin: auto;
}
.shop-image img{
  width: 332px;
  padding-top: 50px;
 }
 .page-content .section-store-auth .form-group{
	text-align: -webkit-center;
	 padding-top:10px;
		
}
  .page-content .section-store-auth .col-lg-5{
		text-align:center;
}
  
}

/* Slider Small Responsive */
@media (max-width:365px){
  .boxs img{
    width: 330px;
    height: 250px;
  }
  .boxs{
    width: 398px;
    height: 250px;
    margin-right: 20px;
}
.overlay{
  width: 330px;
  height: 250px;
}
a.blank{
  width: 330px;
  height: 200px;
}
.slide-title{
  width: 300px;
}
.icon-text{
  margin-right: 25px;
}

}

/* Very Small Card Responsive */
@media (max-width:324px){
  .icon-text .text {
    color: #7B8794;
    font-size: 10px;
  }
  .icon-text .icon{
    
    font-size: 10px;
  }
  .icon-text .text-2 {
    color: #7B8794;
    font-size: 10px;
  }
  .icon-text{
    margin-right: 15px;
  }
  .blog-title{
    text-align: start;
    width: 230px;
    height: 40px;
    font-size: 15px;
  }
  .synopsis{
    font-size: 11px;
    line-height: 10px;
  }
  .shop-image img{
    width: 301px;
   }
   .foot-item p{
    font-size: 10px;
  }
  .foot-item img{
    width: 60px;
    margin: auto;
  }
   
}
